* {
    font-family: 'Georgia', serif;
    line-height: 1.3em;
}

body {
    background-color: #e1e6ed;
    color: #182e4d;
    width: 700px;
    margin: auto;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Trebuchet MS', sans-serif;
    color: hsl(0, 100, 200)
}

.title-image{
    width: 500px;
}

.description {
    color: purple;
}

.ingredients {
    color: darkred;
}

.steps {
    color: darkgreen;
}